body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: azure;
  background-color: #212529;
}

#container {
  display: flex;
  justify-content: center;
}

#profile {
  position: fixed;
  left: 50px;
  top: 0;
  max-width: 30rem;
  margin-left: 20rem;
  margin-top: 10rem;
  font-size: 60px;
  text-align: left;
}

#about a{
  color: rgb(52, 191, 255);
}

#photo {
  border-radius: 50%;
  max-width: 14rem;
  border: 5px solid #32363b;
  margin-bottom: -3rem;
}

#profile span:nth-child(1) {
  font-size: 70px;
}

#profile span:nth-child(2) {
  color: rgb(52, 191, 255);
  font-size: 70px;
}

#profile span:nth-child(3) {
  font-size: 50px;
}

#buttons{
display: flex;
flex-direction: row;
gap: 1rem;
}

#profile a, #profile button {
  text-align: center;
  font-size: 20px;
  background-color: #212529;
  color: rgb(52, 191, 255);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  padding: 1rem;
  border-radius: 10%;
  width: 70%;
  transition: background-color 0.3s ease-out;
}


#profile button{
  border: none;
  width: 50%;

}




#looking-for {
  margin-top: -2rem;
  color: gray;
  font-size: 17px
}

#content {
  margin-top: 5rem;
  margin-left: 30rem;
}

#content p {
  color: #878e99
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 30rem;
  font-size: large;
  background-color: #212529;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 30px;
  border-radius: 5%;
  opacity: 0;
  transform: translateX(75px);
  transition: opacity 1s ease, transform 1s ease;
}

.content-box.show{
  opacity: 1;
  transform: translateX(0);
}

#learning {
  list-style: none;
  margin-left: 0;
}

#learning li:before {
  content: '✓';
}

ul {
  padding: 0;
  margin-left: 1rem;
  color: #878e99
}

ul li {
  margin-bottom: 1rem;
}

#skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#skills li {
  display: flex;
  justify-content: center;
  width: calc(20% - 20px);
  height: calc(20% - 20px);
  margin: 8px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  background-color: #212529;
  border-radius: 10px;
}

#skills a{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 0.3s ease-out;
}

#profile button:hover, #profile a:hover, #skills a:hover{
  cursor: pointer;
  background-color: #1c1e22;
  
}

#skills img {
  height: 75%;
  width: 75%;
  object-fit: contain;
  margin: auto 0;
}

#skills li::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.content-box h2 {
  letter-spacing: 2px;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(22, 22, 22);
}

a {
  color: rgb(52, 191, 255);
  text-decoration: none;
}

#contact img {
  background-color: black;
}

a.trail {
  position: relative;
  text-decoration: none;
}

a.trail::before {
  content: "";
  position: absolute;
  bottom: -2px;
  /* Align the pseudo-element below the text */
  left: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(52, 191, 255);
  transition: width 0.3s ease-out;
}

a.trail:hover::before {
  width: 100%;
}


@media screen and (min-width: 1100px) and (max-width: 1626px) {
  #profile {
    margin-left: 2rem;
  }
}

@media screen and (max-height: 700px) {

  #profile {
    margin-top: 1rem;
  }

}

@media screen and (max-width: 1100px) {
  #container {
    flex-direction: column;
    align-items: center;
  }

  #profile {
    position: static;
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 40px;
  }

  #content {
    position: static;
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 40px;
  }

  #profile a, #profile button {
    font-size: 15px;
    margin: 0;
  }
}